<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @til_log.title %>
</p>

<p>
  <strong>Tags</strong>
  <%= tag_links(@til_log.tag_list) %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown_display(@til_log.body) %>
</p>

<p>
  <strong>Public:</strong>
  <%= @til_log.public %>
</p>

<%= link_to 'Edit', edit_til_log_path(@til_log) %> |
<%= link_to 'Back', til_logs_path %>
